@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "HarbourBold";
  src: local("HarbourBold"), url("./fonts/HarbourBold.ttf") format("truetype");
}



@font-face {
  font-family: "Sabon_Bold";
  src: local("SabonBold"), url("./fonts/Sabon_Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Sabon_Italic";
  src: local("SabonItalic"), url("./fonts/Sabon_Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Roman";
  src: local("SabonRoman"), url("./fonts/Sabon_Roman.ttf") format("truetype");
  /* font-weight: bold; */
}

/* @font-face {
  font-family: "Combat";
  src: local("Combat"), url("./fonts/Combat.otf") format("truetype");
} */

.menthe {
    color:#E1ECD5
}


.cursorMain{
  cursor: pointer;
}

.mentheBack {
    background-color:#E1ECD5
}

/* .combat {
  font-family: "Combat";
} */

.sabonBold {
  font-family: "SabonBold";
}

.sabonItalic {
  font-family: "SabonItalic";
}
.sabonRoman {
  font-family: "SabonRoman";
}
.HarbourBold{
font-family: "HarbourBold";
}
.titreNav {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.indent {
  text-indent: 20px;
}
.indent2 {
  text-indent: 40px;
}

.ligne {
  border-top: 1px solid rgb(197, 197, 197);
  transform: translate(0px, 13px);
}

.acordionCard {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px;
  margin-bottom: 30px;
  border: 1px solid rgb(241, 241, 241);
  /* background-color: rgba(249, 250, 251); */
  /* transition-delay: 400ms; */
  transition-timing-function: linear;
}
.acordionCard2 {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px;
    /* padding-bottom: 10px; */
  }

.vignets {
  /* transform: translate(0px, 10%) */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* sur Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* sur Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.violet {
  /* color:#59577C */
  color: #59577c;
}
.violetBack {
  background-color: #59577c;
  /* color: #7f63ff; */
}

.underlineWhite {
  color: white;
  font-style: underline;
}

.espacement{
 line-height: 25px 
}

.underlineRed{
  text-decoration: underline;
   text-decoration-color: red;
}


